# To build the mapper index, you'll need a musicbrainz-docker data instance with the
# LB canonical data fully built:
# mbid_mapper/manage.py canonical-data --use-mb-conn

# To use a DB on this node with DB exposed on port 5432:
#CANONICAL_MUSICBRAINZ_DATA_CONNECT = "dbname=musicbrainz_db user=musicbrainz host=localhost port=5432 password=musicbrainz"

# The postgres DB connect string to connect to the MB instance with canonical data:
CANONICAL_MUSICBRAINZ_DATA_CONNECT = ""

# Number of threads for the server (default: number of CPU cores)
NUM_THREADS = 0
