services:
  # Run this to build the index, before starting the mapper
  make_index:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    env_file:
      - path: .env
        required: false
    environment:
      - INDEX_DIR=/data
      - CANONICAL_MUSICBRAINZ_DATA_CONNECT=dbname=musicbrainz_db user=musicbrainz host=musicbrainz-docker-db-1 port=5432 password=musicbrainz
    networks:
      - musicbrainz
    command: ["/mapper/create"]

  make_cache:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    env_file:
      - path: .env
        required: false
    environment:
      - INDEX_DIR=/data
      - NUM_BUILD_THREADS=0
      - CANONICAL_MUSICBRAINZ_DATA_CONNECT=dbname=musicbrainz_db user=musicbrainz host=musicbrainz-docker-db-1 port=5432 password=musicbrainz
    networks:
      - musicbrainz
    command: ["/mapper/indexer"]

  # Run this to start the mapper
  server:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    restart:
      unless-stopped
    env_file:
      - path: .env
        required: false
    environment:
      - INDEX_DIR=/data
      - HOST=0.0.0.0
      - PORT=5000
      - TEMPLATE_DIR="/mapper/templates"
      - NUM_THREADS=0
      - MAX_CACHE_SIZE=100
    ports:
      - "127.0.0.1:5000:5000"
    command: ["/mapper/server"]

networks:
  musicbrainz:
    external: true
    name: musicbrainz-docker_default

volumes:
  mapper-volume:
