services:
  # Run this to build the index, before starting the mapper
  make_index:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    env_file:
      - .env
    command: ["/mapper/indexer", "/data"]

  # Run this to start the mapper
  mapper:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    ports:
      - "8080:8080"
    depends_on:
      make_index:
        condition: service_completed_successfully

volumes:
  mapper-volume:
