services:
  # Run this to build the index, before starting the mapper
  make_index:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    env_file:
      - .env
    networks:
      - musicbrainz
    command: ["/mapper/create"]

  make_cache:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    env_file:
      - .env
    networks:
      - musicbrainz
    command: ["/mapper/indexer"]

  # Run this to start the mapper
  server:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - mapper-volume:/data
    env_file:
      - .env
    ports:
      - "8080:8080"
    command: ["/mapper/server"]

networks:
  musicbrainz:
    external: true
    name: musicbrainz-docker_default

volumes:
  mapper-volume:
